---
import About from "../components/sections/About.astro";
import FeaturedMenu from "../components/sections/FeaturedMenu.astro";
import FooterCta from "../components/sections/FooterCta.astro";
import Hero from "../components/sections/Hero.astro";
import Navbar from "../components/sections/Navbar.astro";
import Testimonials from "../components/sections/Testimonials.astro";
import { menuItems, navLinks, testimonials } from "../data/landing";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Warunk WOW KWB Batu | Kafe 24 Jam"
  description="Warunk WOW KWB Batu, tempat nongkrong 24 jam dengan menu western dan nusantara, plus area rooftop."
>
  <Navbar links={navLinks} />
  <main>
    <Hero />
    <FeaturedMenu items={menuItems} />
    <About />
    <Testimonials items={testimonials} />
  </main>
  <FooterCta />
</BaseLayout>
